#loading {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eff1f6;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    z-index: 999;
    transition: opacity 0.4s ease-in, visibility 0.4s ease;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-Light.otf');
    font-weight: 100 200;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-MediumItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-Regular.otf');
    font-weight: 300 400;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-Medium.otf');
    font-weight: 500 600;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-Bold.otf');
    font-weight: 700 800;
}

@font-face {
    font-family: Gordita;
    src: url('assets/Gordita-Black.otf');
    font-weight: 900;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin:0;
    cursor:default;
}


body {
    overflow-x: hidden;
} html {
    font-size:16px;
    scroll-behavior:smooth;
}

.sr .img_ctnr {
    visibility: hidden;
}

body, button {
    font-family: 'Gordita', sans-serif;
}

:root {
    --c01: #434A7D;
    --c02: #3d53fc;
    --c02-1:#051678;
    --c03: #F2F4FB;
    --c04: #fd8820;
    --c05: #ee4b29;
    --c06: #ECF0FD;
    --c07: #808194;
    --c08: #606bbe;
}
  
a {
    text-decoration: none;
    color:unset;
}

img {
    user-select: none;
}

header {
    display: flex;
    position: fixed;
    height: clamp(3.8rem, 9vw, 5rem);
    width: 100%;
    background: white;
    z-index: 6;
} .logo {
    width: clamp(8rem, 18vw, 10rem);
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
} .logo img {
    object-fit: contain;
    width: 100%;
}

.mobile_hidden {
    display:none;
}

.hamb {
    position: absolute;
    left: clamp(0.5rem, 3vw, 1.15rem);
    height: 100%;
    width: clamp(3.8rem, 9vw, 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} .hamb > div {
    width: clamp(1.4rem, 6vw, 1.7rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
} .hamb div div {
    width: 100%;
    height: 2.3px;
    background: var(--c07);
}


.menu_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(1 3 34 / 50%);
    transition:opacity 0.4s ease, visibility 0.4s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
} .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: clamp(15rem, 75vw, 20rem);
    max-width: 100%;
    background: white;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-100%);
    border-right: 1px solid #DDF;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: self-end;
    overflow-y: scroll;
    border-left: 0.3rem solid var(--c02);
    z-index: 7;
} .menu_in {
    width: clamp(14rem, 72vw, 19rem);
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box;
    border-top: 2px solid var(--c06);
    padding: 1rem 0 8rem 0;
} .menu span {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--c02);
    letter-spacing: 1px;
    margin: 1rem 0 0.6rem 0;
} .menu_in a, .collapsible {
    font-size: clamp(0.8rem, 3.5vw, 1rem);
    padding: 0.6rem 1.5rem 0.6rem 0.6rem;
    color: var(--c08);
    letter-spacing: 0.6px;
    margin: 0.2rem 0 0.2rem 0;
    background: unset;
    font-weight: 500;
    border-radius: 0.15rem;
    cursor: pointer;
} .menu a {
    transition: background-color 0.6s ease, color 0.6s ease;
} .menu a:hover, .collapsible:hover {
    background-color:#ffffff;
    transition: background-color 0s ease, color 0s ease;
    color:var(--c02);
} .collapsible:hover div {
    border-left: 0.4rem solid var(--c02);
    transition: transform 0.15s ease-out, border-color 0.05s ease;
} .close_menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: clamp(3.8rem, 9vw, 5rem);
    background: white;
    display: flex;
    flex: none;
    cursor: pointer;
    z-index: 1;
} .close_menu svg {
    width: 1.4rem;
    margin: 0 1rem;
    padding: 0 0 0 clamp(0.5rem, 3vw, 1.15rem);
} .menu_in a img {
    margin: 0 0.4rem;
    width: 0.75rem;
    height: 0.7rem;
} .menu_in > a, .collapsible {
    border: 1px solid var(--c06);
    transition: background-color 0.3s ease;
    background-color:transparent;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

main {
    padding: clamp(3.8rem, 9vw, 5rem) 0 0 0;
    background-color: var(--c03);
    width:100%;
} main h1, main h2 {
    font-size: clamp(1rem, 12vw, 3.3rem);
    line-height: clamp(1rem, 14vw, 3.4rem);
    font-weight: 900;
    margin: 0 0 0.8rem 0;
    color: var(--c02);
    text-transform: uppercase;
    /* background: -webkit-linear-gradient( 85deg, var(--c02) 38%, var(--c02-1) 130%); 
    -webkit-text-fill-color: transparent;*/
    background: var(--c02);
    -webkit-background-clip: text;
    display: inline;
}

.intro_sec {
    min-height: 45vh;
    background: linear-gradient(#e8eaf5, #E3E6F1);
}


.formato_sec h3 {
    font-size: 0.8rem;
    color: var(--c02);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: clamp(0.1rem, 0.1vw, 0.2rem);
    opacity: 0.4;
    margin: 0 0 0.2rem 0;
}

.formato_sec p {
    font-size: clamp(0.9rem, 4.5vw, 0.95rem);
    line-height: clamp(1.4rem, 4vw, 1.5rem);
    margin-bottom: 1rem;
    max-width: 42rem;
    letter-spacing: 0.5px;
} .formato_sec article > p {
    color: var(--c01);
    padding-bottom: 0.4rem;
    margin-top: 1rem;
} .formato_sec {
    display: flex;
    flex-direction: column;
} .cta01{
    margin: 0 0 1.4rem;
    padding: 0.5rem 2rem;
    display: inline-block;
    background: linear-gradient( 25deg, var(--c02) 38%, var(--c07) 130%);
    border-radius: 10rem 0 10rem 10rem;
    color: var(--c03);
    font-size: clamp(0.9rem, 5vw, 1.1rem);
} .formato_sec article {
    width: clamp(17rem, 85vw, 24rem);
    margin: 3rem auto 1rem auto;
} .formato_sec:first-of-type article {
    margin: 10vw auto 1rem auto;
} .formato_sec {
    border-bottom: 2px solid #DDF;
} .formato_sec menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
} .formato_sec menu li {
    font-size: 0.8rem;
    cursor: pointer;
    background-color: var(--c06);
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--c02);
    flex: 0;
    transition: box-shadow 0.15s ease-out, color 0.35s 0.1s ease, background-color 0.9s ease;
    box-shadow: inset 0 0 0 var(--c02);
    user-select: none;
    padding: 0 clamp(0.1rem, 4vw, 1.4rem);
    white-space: nowrap;
} .formato_sec menu li:first-child {
    border-radius: 0.2rem 0 0 0.2rem;
} .formato_sec menu li:last-child {
    border-radius: 0 0.2rem 0.2rem 0
}  .formato_sec .active_type {
    color: var(--c03);
    box-shadow: inset 0 2rem 0 var(--c02);
} .active_type::after {
    content:'';
    position:absolute;
} .formato_sec menu li:hover {
    transition: background-color 0.05s ease, box-shadow 0.15s ease-out, color 0.35s 0.1s ease;
    background-color:white;
} .formato_sec menu li:not(:last-child) {
    border-right: 1px solid #CDF;
}

.live_demo {
    display: block;
    margin: 0 auto 2rem auto;
    color: var(--c02);
    line-height: 2.5rem;
    border-radius: 0.15rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    width: 80vw;
    font-weight: 500;
    text-align: center;
    background-color:white;
} .smartphone_ctnr .live_demo {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    transform: translateY(160%);
}

.bullets {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--c08);
    font-weight: 500;
    display: flex;
    flex-flow: column;
    gap: 0rem 3rem;
    justify-content: stretch;
} .bullets > li, .bullets > div {
    flex: 1;
    min-width: 12rem;
} .bullets li {
    display: flex;
    padding-bottom: 0.8rem;
    align-items: center;
} .bullets li a, .bullets .specs_bt, .bullets .clicktag_RM_bt {
    cursor: pointer;
    text-decoration: underline;
} .specs_bt:hover, .clicktag_RM_bt:hover {
    color:var(--c02);
} .bullets p {
    font-size: clamp(0.7rem, 3.5vw, 0.8rem);
    letter-spacing: 0.4px;
    margin-bottom: 0;
    line-height: clamp(0.7rem, 4.5vw, 1.1rem);
} .bullets img {
    width: 0.7rem;
    height: 0.7rem;
} .bullet_icon01 {
    margin: 0 0.9rem 0 0;
    border-radius: 0.15rem;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    box-sizing: border-box;
    border: 1px solid #E7E7F9;
} .img_ctnr {
    width: 100%;
    overflow: hidden;
    position: relative;
} .img_ctnr > img {
    left: 0;
    right: 0;
    position: relative;
    z-index: 2;
} .img_ctnr > img, .img_ctnr svg {
    width: clamp(17rem, 91vw, 35rem);
    margin: 1rem auto 2rem auto;
    display: block;
    object-fit: contain;
} .desktop_mockup_content {
    position: absolute;
    display: block;
    margin: 0 auto;
    right: 0;
} .mobile_mockup_content {
    position: absolute;
    left: 0;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
    margin: 0 auto;
} .desktop_mockup_content.default {
    width: clamp(14.5rem, 74vw, 28rem);
    left: clamp(1.2rem, 5vw, 20rem);
    top: clamp(1.7rem, 7.5vw, 2.2rem);
} .mobile_mockup_content.default {
    width: clamp(2rem, 19vw, 7.1rem);
    right: clamp(11rem, 61vw, 23.5rem);
    top: clamp(2rem, 22vw, 7.5rem);
    height: clamp(2rem, 40vw, 15rem);
}

.highlight_bullet {
} .highlight_bullet .bullet_icon01 {
    background: var(--c02);
    border: 1px solid var(--c02);
    box-sizing: content-box;
} .highlight_bullet .bullet_icon01 > img {
    width: 55%;
    height: 45%;
} .highlight_bullet p {
    color: var(--c02);
    border-radius: 0.15rem;
    padding: 0 0.8rem 0 1rem;
    line-height: 1.6rem;
    border: 1px solid var(--c02);
    transform: translateX(-1.2rem);
}

.dooh_ctnr {
    min-height: 37rem;
} .dooh_ctnr img {
    width: clamp(14rem, 65vw, 17rem);
    height: clamp(17rem, 170vw, 30rem);
    margin: 2rem auto 4rem auto;
    /* mix-blend-mode: hard-light; */
    opacity: 0.85;
    /* position: absolute; */
    transition: transform 1s ease, opacity 1s;
} .dooh_ctnr img:first-of-type {
    animation: dooh_switch 10s ease-in-out infinite alternate;
    position: absolute;
} .dooh_ctnr img:last-of-type {
    animation: dooh_switch 10s ease-in-out infinite alternate-reverse;
} .dooh_ctnr video {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom:0;
  /* height: clamp(17rem, 170vw, 30rem);
  margin-bottom: 2rem; */
}

@keyframes dooh_switch {
    0% {
        opacity:0.85;
        transform: scale(1);
    } 40% {
        opacity: 0.85;
        transform: scale(1);
    } 60% {
        opacity: 0;
        transform: scale(0.99);
    } 100% {
        opacity: 0;
        transform: scale(0.99);
    }
}

.text_bullet {

} .text_bullet ul {
    padding-left: 2.8rem;
} .text_bullet li {
    color: #7d86ca;
    margin: -0.5rem 0 0 0;
    padding: 0;
} .text_bullet ul li:not(:last-child) {
    margin: -0.5rem 0 0 0;
    padding: 0 0 0.8rem 0;
}



.specs, .excroll_clicktag_section {
    background: var(--c03);
    color: var(--c01);
    padding-bottom: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    z-index: 5;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-100%);
    box-sizing: border-box;
    width: clamp(15rem, 85vw, 34rem);
    padding-top: clamp(3.8rem, 9vw, 7rem);
} .specs div, .excroll_clicktag_section div {
    margin: -6rem auto 0 auto;
    padding: 8rem 0 0 0;
    width: 85%;
} .specs h2, .excroll_clicktag_section h2 {
    font-size: clamp(1.2rem, 6vw, 1.9rem);
    line-height: clamp(1.7rem, 8vw, 2.2rem);
} .specs h3 {

} .specs p, .excroll_clicktag_section p {
    font-size: clamp(0.9rem, 4.5vw, 1rem);
    line-height: clamp(1.4rem, 4vw, 1.6rem);
    margin-bottom: 1rem;
} .specs ul {
    padding-inline-start: 0px;
    list-style: none;
} .specs li {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 3px solid white;
} .specs li p {
    margin: 0;
} .specs ul li ul {
    margin: 1rem 0;
} .specs p a {
    color: var(--c02);
    font-weight: 600;
}

.divisor1 {
    height: 62%;
    width: 1px;
    background: #CCE;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
}


.menu_footer {
    display: block;
    font-size: 0.9rem;
    line-height: 3rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    background: white;
    flex: none;
    box-shadow: 0 -2rem 2rem var(--c03);
    justify-content: end;
    align-items: center;
    color: var(--c08);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 5rem;
    /* padding: 0 clamp(2rem, 10vw, 2.2rem) 0 0; */
} .menu_footer > div {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
    gap: 0 1rem;
} .menu_footer a {
    width: 2.2rem;
    height: 2.2rem;
    background: var(--c03);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
} .menu_footer svg {
    height: 1rem;
    width: 1.2rem;
}

.code, .code_word {
    font-size: clamp(0.8rem, 4.5vw, 0.9rem);
    background: var(--c01);
    letter-spacing: 0.5px;
    font-family: monospace;
    font-weight: 500;
    color: white;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height:4.5rem;
    overflow: auto;
    word-wrap: break-word;
    padding: 0.2rem 0.5rem;
    display: block;
    margin-bottom: 1rem;
    padding: 1.6rem;
    box-sizing: border-box;
    word-break: break-all;
} .code_word {
    display: inline;
    padding: 0.2rem 0.3rem;
} .code:focus {
    outline:none;
} .height_01 {
    height: 4.5rem;
} .height_02 {
    height: 5.5rem;
} .height_03 {
    height: 10rem;
} .code {

}


.smartphone_ctnr {
    overflow: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem auto 7rem auto;
    height: clamp(17rem, 170vw, 34rem);
    width: clamp(17rem, 38vw, 18rem);
} .smartphone_ctnr > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    pointer-events: none;
}


::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c02);
  }




  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    text-align: left;
    outline: none;
    display: flex;
    align-items: center;
  } .collapsible > div {
    display: block;
    margin: 0 0.6rem;
    transform: rotate(0deg);
    transition: transform 0.15s ease-out, border-color 1s ease;
    width: 0;
    height: 0;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-left: 0.35rem solid var(--c08);
  } .active > div {
    transform: rotate(90deg);
  } 


  .img_ctnr svg image {
      opacity: 1;
      transition:opacity 0.9s ease;
  }   .img_ctnr svg image:hover {
      transition:opacity 0.1s ease;
      opacity: 0.1;
  }
  
  .relative {
      position: relative;
  } .switcher_ctnr .bullets {
    opacity:0;
    visibility: hidden;
    transform-origin: 20% center;
    transition: opacity 0.4s ease, visibility 0.4s ease;
  } .switcher_ctnr .bullets:not(.relative) {
    position: absolute;
  } .switcher_ctnr .switched {
    opacity:1;
    visibility: visible;
  }
  

  /* Style the collapsible content. Note: hidden by default */
  .collapsible_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    flex: none;
    display: flex;
    flex-direction: column;
    width: 92%;
    align-self: end;
  } .collapsible_content a {
    background: var(--c03);
    padding: 0.6rem 1.5rem 0.6rem 0.9rem;
  }

  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--c02);
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
  } ::selection {
    color: white;
    background: var(--c02);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }


  video {
      pointer-events: none;
  }





.interscroller_prev article {
    width: 13rem;
    height: 21rem;
    background: var(--c02);
    margin: 1rem auto;
} .interscroller_prev img {
    width:100%;
    width: 13rem;
    height: 21rem;
}

.interscroller h2 {
    font-size: clamp(1.8rem, 9.5vw, 2.6rem);
    line-height: clamp(1.9rem, 10vw, 2.7rem);
}

.tooltip {
    background-image: url('assets/icons/tooltip.svg');
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    padding: 0 0.2rem 0 0;
    cursor: help;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom left;
    transform: translateY(-0.2rem);
    margin-left: 0.1rem;
} .tooltip::after {
    content: '';
    position: absolute;
    width: 12rem;
    background: white;
    padding: 0.6rem 0.9rem;
    bottom: 1rem;
    border: 3px solid var(--c03);
    border-radius: 0.2rem;
    transform: translate(-50%, 0.1rem);
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    transition: transform 0.15s 0.1s ease, opacity 0.15s 0.1s ease, visibility 0.15s 0.1s ease;
    opacity: 0;
    visibility: hidden;
    letter-spacing: 0.2px;
    color: var(--c08);
    box-shadow: 0 -0.1rem 1rem #ccf;
} .tooltip:hover::after {
    transform: translate(-50%, -0.1rem);
    opacity: 1;
    visibility: visible;
    transition: transform 0.15s 0.3s ease, opacity 0.15s 0.3s ease, visibility 0.15s 0.3s ease;
}


.tooltip_cta::after {
    content:'Call to action ou CTA é uma chamada para ação, geralmente em formato de botão com um texto do tipo “Clique aqui e saiba mais”'
}

.hidden_spec {
    display:none;
}



























@media (min-width:50vh) and (min-width:720px){
    
    .formato_sec {
        padding: 4rem 0 clamp(1rem, 10vw, 3rem) 0;
        flex-direction: row;
        position:relative;
    } .formato_sec:first-of-type {
        padding: 3rem 0 clamp(1rem, 10vw, 3rem) 0;
    }
    .formato_sec > article, .formato_sec:first-of-type article {
        width: 30%;
        min-width: 21rem;
        max-width: 23rem;
        margin: 0 0 0 clamp(2rem, calc(15vw - 6rem), 4rem);
    } .cta01{
        transition: filter 0.1s ease, transform 0.05s ease;
    } .cta01:hover {
        filter: brightness(1.2);
        transform: scale(1.02);
    } .cta01:active {
        transition: filter 0.1s ease, transform 0.02s ease;
        transform: scale(0.99);
    }
    
    

    .img_ctnr > img {
        height: clamp(15rem, 130vw, 42rem);
        width: clamp(17rem, 120vw, 60rem);
        margin: 0;
        object-fit: contain;
        object-position: top left;
        left:unset;
        right:unset;
    } .img_ctnr svg {
        width: clamp(17rem, 40vw, 34rem);
        height: clamp(15rem, 50vw, 47rem);
        margin: 2rem 0 2rem 1rem;
    } .img_ctnr:not(.smartphone_ctnr) {
        flex: 1;
    }

    .live_demo {
        position: absolute;
        bottom: -2rem;
        right: clamp(5rem, 12vw, 13rem);
        width: unset;
        padding: 0.5rem 2rem;
        text-align: left;
        border-color: #DDF;
        box-sizing: border-box;
        text-align: center;
        z-index: 2;
        line-height: 1rem;
    }
    
    .interscroller h2 {
        font-size: clamp(2.4rem, 2.8vw, 2.6rem);
        line-height: clamp(2.4rem, 4.6vw, 2.8rem);
    }


    .smartphone_ctnr {
        margin: 0 0 2rem 5vw;
    } .smartphone_ctnr > img {
        height: 100%;
        width: clamp(17rem, 38vw, 18rem);
    }

    .desktop_mockup_content {
        margin:unset;
    } .mobile_mockup_content {
        border-radius: 1.5rem;
    } .desktop_mockup_content.default {
        width: clamp(14.5rem, 96vw, 48rem);
        left: 8rem;
        top: 2rem;
    } .mobile_mockup_content.default {
        width: clamp(11rem, 24vw, 12rem);
        left: clamp(3.5rem, 6vw, 3.8rem);
        top: clamp(5rem, 22vw, 11rem);
        right: unset;
        height: clamp(24rem, 52vw, 26rem);
    }


    .dooh_ctnr video {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        object-position: left;
    } .dooh_ctnr img {
        width: unset;
        object-position: top left;
        margin: 0 0 0 5vw;
        max-height: 36rem;
    }

    .desktop_right {
        -webkit-mask-image: linear-gradient(90deg, transparent, white 62%);
    } .desktop_right img {
        transform: translateX(calc(-58rem + 55vw));
    }
    
    .menu_in > a, .collapsible {
        border:2px solid var(--c06);
    }
}



















@media (orientation: landscape) and (min-width:1100px)  {

    main {
        padding: 0;
        overflow: hidden;
        background-image: linear-gradient(-90deg, var(--c03) 62%, white);
    }

    .desktop_hidden {
        display:none;
    } .mobile_hidden {
        display:initial;
    }
    
    .menu {
        position: sticky;
        top: 0;
        transform: translateX(0);
        height: 100vh;
        width: clamp(19rem, 24vw, 20.5rem);
        flex: none;
        justify-content: space-between;
        transition:none;
        padding-top: 0;
    }  .menu_in {
        border-top: none;
    } .menu_bg {
        opacity: 0;
        visibility: hidden;
        transition:opacity 0.4s ease, visibility 0.4s ease;
    }.menu_in a, .collapsible {
        font-size: 0.8rem;
    }

    header {
        position: relative;
        border-left: 0.3rem solid var(--c02);
        box-sizing: border-box;
    } .logo {
        width: unset;
        margin: 0;
    } .logo img {
        width: clamp(19rem, 24vw, 20.5rem);
        height: 2.8rem;
        margin:0;
    }

    .bullets {
        flex-direction: column;
    }

    .specs, .excroll_clicktag_section {
        left: clamp(19rem, 24vw, 20.5rem);
        width: clamp(15rem, 50vw, 45rem);
    } .specs div, .excroll_clicktag_section div {
        margin: -4rem auto 0 auto;
        width: 75%;
    } .specs div {
        padding: 6rem 0 0 0;
    }
    
    .header_anchors {
        margin: 0 0 0 clamp(2rem, calc(15vw - 6rem), 4rem);
        display: flex;
        align-items: center;
        width: clamp(23rem, 35vw, 27rem);
        /* justify-content: space-between; */
        color: var(--c08);
        font-size: clamp(0.9rem, 4.5vw, 1rem);
        font-weight: 500;
    } .header_anchors a, .header_anchors div {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        margin-left: calc(-1.6rem);
        margin-right: 1rem;
        cursor: pointer;
    } .header_anchors span {
        padding: 0.3rem 0.6rem;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
        background-color: transparent;
    } .header_anchors a:hover span, .header_anchors div:hover span {
        background-color: var(--c03);
        color:var(--c02);
    }
    .desktop_right img {
        transform: translateX(calc(-70rem + 55vw));
    }

    .smartphone_ctnr .live_demo {
        right: 4rem;
        left: 3rem;
    }

    .bullet_icon01 {
        transition:border-color 0.5s ease;
    }
     .bullets > *:hover .bullet_icon01 {
        transition:border-color 0.03s ease;
        border-color: #A8AAFF;
    }
}






































@media (min-width:1900px) {
    html {
        font-size: 20px;
    }
}